.header {
    background: #02f906e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #4306fc;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
